{% extends "base.html" %}
{% from "_render_field.html" import render_field, render_radio_fields %}


{% block app_content %}
    <h1>Edit Your Profile</h1>
    <img src={{current_user.profile_pic()}} alt="Profile Picture" style="width:10%">
    <p>To change your profile picture Click onthe one you like !</p>
    {% for image in user_image: %}
        <a href="{{ url_for('main.swap_prof_pic', type=image) }}"><img src="{{ image }}" alt="User picture" style="width:5%"></a>
    {% endfor %}
    <p><a href="{{ url_for('main.upload') }}">Add more picture ? 📸 </a></p>




    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
    
            {{ render_field(form.username, placeholder=form.username.label.text) }}
            {{ render_field(form.firstname, placeholder=form.firstname.label.text) }}
            {{ render_field(form.bio, placeholder=form.bio.label.text) }}
            {{ render_field(form.age, placeholder=form.age.label.text) }}
            {{ render_radio_fields(form.sexpref) }}
            {{ render_field(form.email, placeholder=form.email.label.text) }}
    
            <p>{{ form.submit(class_="btn btn-primary") }}</p>
        </form>






    <br>
    <p>Change Your Password? <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a></p>
{% endblock %}