{% extends "base.html" %}

{% block app_content %}

<section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">These are your crush ❤️ 👇</h5>
            <div class="row">
                {% for profile in profiles_you_like %}
                    {% include '_sumup.html' %}
                {% endfor %}
            </div>
        </div>
</section>


<section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">Here The people who likes YOOUU ❤️ 👇 Premium feature</h5>
            <div class="row">
                {% for profile in profiles_who_liked_you %}
                    {% include '_sumup.html' %}
                {% endfor %}
            </div>
        </div>
</section>

{% endblock %}