{% extends "base.html" %}

{% block app_content %}

    <table>
        <tr valign="top">
            <!-- <img src="/static/sunshine.jpeg" alt="Beer" style="width:30%">
            <img src="{{ url_for('static', filename='sunshine.jpeg') }}" alt="Beer" style="width:30%"> -->

            <img src={{profile_pic}} alt="Profile Picture" style="width:20%">
            <br>
            <br>

            {% for image in user_pics: %}
                <img src="{{ image }}" alt="User Pictures" style="width:10%">
            {% endfor %}

            <td>
                <h1>{{ user.username }}</h1>
                {% if user.last_seen %}
                    <p>Last seen on: {{ moment(user.last_seen).format('LLLL') }}</p>
                {% endif %}

                <h3>{% if user.firstname %}<p>{{ user.firstname }}</p>{% endif %}</h3>

                {% if user.bio %}<p>About me :</p><p>{{ user.bio }}</p>{% endif %}
                {% if user.age %}<p>My age : {{ user.age }}</p>{% endif %}
                {% if user.sexpref %}<p>My sexe preference : {{ user.sexpref }}</p>{% endif %}
                {% if user.fame %}<p>{{ user.fame }}</p>{% endif %}

                {% if user == current_user %}
                    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% elif not current_user.does_like(user) %}
                    <p><a href="{{ url_for('like', username=user.username) }}">Like</a></p>
                {% else %}
                    <p><a href="{{ url_for('unlike', username=user.username) }}">Unlike</a></p>
                {% endif %}
    <hr>
                {% if current_user == user %}
                <h1> Recently visited profiles</h1>
                {% for profile in history|reverse %}
                {% include '_sumup.html' %}
                {% endfor %}
                <h1> Recently viewed your profile</h1>
                {% for profile in looked_at_you|reverse %}
                {% include '_sumup.html' %}
                {% endfor %}
                {% endif %}

                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
            </td>
        </tr>
    </table>
    <hr>

{% endblock %}
